ToscairePT/Web References/output/Output.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Output" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://dbd08f92199846689a5a27044a2ec649.cloudapp.net/Output.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://dbd08f92199846689a5a27044a2ec649.cloudapp.net/Output.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://dbd08f92199846689a5a27044a2ec649.cloudapp.net/Output.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOutput_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IOutput_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IOutput_individualSummary_InputMessage">
    <wsdl:part name="parameters" element="tns:individualSummary" />
  </wsdl:message>
  <wsdl:message name="IOutput_individualSummary_OutputMessage">
    <wsdl:part name="parameters" element="tns:individualSummaryResponse" />
  </wsdl:message>
  <wsdl:message name="IOutput_groupSummary_InputMessage">
    <wsdl:part name="parameters" element="tns:groupSummary" />
  </wsdl:message>
  <wsdl:message name="IOutput_groupSummary_OutputMessage">
    <wsdl:part name="parameters" element="tns:groupSummaryResponse" />
  </wsdl:message>
  <wsdl:portType name="IOutput">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IOutput/DoWork" message="tns:IOutput_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOutput/DoWorkResponse" message="tns:IOutput_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="individualSummary">
      <wsdl:input wsaw:Action="http://tempuri.org/IOutput/individualSummary" message="tns:IOutput_individualSummary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOutput/individualSummaryResponse" message="tns:IOutput_individualSummary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="groupSummary">
      <wsdl:input wsaw:Action="http://tempuri.org/IOutput/groupSummary" message="tns:IOutput_groupSummary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOutput/groupSummaryResponse" message="tns:IOutput_groupSummary_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOutput" type="tns:IOutput">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IOutput/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="individualSummary">
      <soap:operation soapAction="http://tempuri.org/IOutput/individualSummary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="groupSummary">
      <soap:operation soapAction="http://tempuri.org/IOutput/groupSummary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Output">
    <wsdl:port name="BasicHttpBinding_IOutput" binding="tns:BasicHttpBinding_IOutput">
      <soap:address location="http://dbd08f92199846689a5a27044a2ec649.cloudapp.net/Output.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>